<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <title>La web semántica</title>
</head>
<body>

	<main style="display: grid; width: 100%;">
		<section style="display: grid; justify-self: center; width: 85%; place-items: center;">
			<div style="display: grid; padding: 2em 0;">
				<audio src="./img/audio.mp3" controls></audio>
			</div>
			<div style="display: grid; padding: 2em 0;">
				<video src="./img/video.mp4" preload controls autoplay></video>
			</div>
		</section>
	</main>

</body>
</html>

