<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
		<title>Java components</title>
	</head>
	<body>
		<main>
			<h1>Java Enterprise Edition</h1>
			<div>
				<figure>
					<figcaption>Java Enterprise Edition</figcaption>
				</figure>
				<p>
					Java Platform, Enterprise Edition o Java EE (anteriormente conocido como Java 2 Platform, Enterprise Edition 
					o J2EE hasta la versi$oacute;n 1.4; traducido infoemalmente como Java Empresarial), es una plataforma de programaci&oacute;n 
					--parte de la Plataforma Java-- para desarrollar y ejecutar software de aplicaciones en el lenguaje de programaci&oacute;n Java.
					Permite utilizar arquitecturas de N capas distribuidas y se apoya ampliamente en componentes
					de software modulares ejecut&aacute;ndose.
				</p>
			</div>
			<h2>Especificación de los componentes de JEE</h2>
			<dl>
				<dt>Enterprise JavaBeans (EJB)</dt>
				<dd>
					Los EJB proporcionan un modelo de componentes distribuido est&aacute;ndar del lado del servidor.
					El objetivo de los EJB es dotar al programador de un modelo que le permita abstraerse de los problemas generales de una aplicación 
					empresarial (concurrencia, transacciones, persistencia, seguridad, etc.) para centrarse en el desarrollo de la l&oacute;gica de negocio
					en s&iacute;. El hecho de estar basado en componentes permite que Seacute/stos sean flexibles y sobre todo reutilizables.
				</dd>
				<blockquote>
					No hay que confundir lpos enterprise Java Beans con los Java Beans, Los Jva Beans tambi&eacute;n son un ejemplo
					de componentes creads por Oracle - Sun microsystems para la construcici&oacute;n de aplicaciones, pero no piedfen 
					deistribuidos al no soportar nativamente la innovaci&oacute;n remota (RMI).
				</blockquote>
			
				<dt>Servlets</dt>
				<dd>
					Los servlets son objetos que corren dentro y fuera del contexto de un contenerdor de servlets (ej: Tmocat) y extienden su
					funcionalidad. La palabra servlet deriva de otra anterior, applet, que se refería a unos pequeños programas que se
					ejecutan en el contexto de navegador web, por contraposición. El uso más comun de los servlets es generar paginas web
					de forma dinámica a partir de los parámetros de la petición que envía el navegador web.
				</dd>

				<dt>Servlets</dt>
				<dd>
					Los portlets son componentes modulares de las interfaces de usuario gestionadas y visualizadas en un portal web. Los portlets
					producen fragmentos de codigo de marcado que se agregan a la pagina de un portal. Típicamente, siguiendo la metáfora
					de un escritorio; la pagina de un portal se visualiza como la colección de ventanas de un portlet que no se solapan;
					dónde cada una de estas muestra un portlet. Por lo tanto, un portlet se semeja a una aplicacion web que esta hospedade en
					un portal. Como por ejemplo, un portlet de aplicacion puede ser para el correo, el parte meteorológico, un foro, noticias, etc.
				</dd>
				<dt>Java server pages</dt>
				<dd>
					JavaServer Pages (JSP), es una tecnologia que ayuda a los desarrolladores de software crear paginas web donamicas basadas en HTML,
					XML entre otros tipos de documentos, JSP es similar a PGP, perp utiliza el lenguaje de programacion Java.
				</dd>
			</dl>
				<!-- un comentario mas -->
			<div>
				<h2>Ciclo de vida de un servlet</h2>
				<p>
					Los servlets tienen unn ciclo de vida preddefiniado, el cual consta de los siguientes ares pasos:
				</p>
				<ol>
					<li>Un servidor carga en inicializa el servlet</li>
					<li>El servelt maneja los eventos del backend<li>
					<li><li>
				</ol>
			</div>
				<!-- un comentario mas -->
		</main>
	</body>
</html>
